[submodule "plugins.local/auth_oidc"]
	path = plugins.local/auth_oidc
	url = https://gitlab.tt-rss.org/tt-rss/plugins/ttrss-auth-oidc.git
[submodule "plugins.local/gotify_notifications"]
	path = plugins.local/gotify_notifications
	url = https://github.com/ViMaSter/ttrss-plugin-gotify
